

body{
    background-image: url('bg6.jpg');
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: sans-serif;
}

.main{
    width: 350px;
    height: 480px;
    background: rgb(111,128,224);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 5px 30px 50px;


}

#chk{
    display: none;
}



.signUp{
    position: relative;
    width: 100%;
    height: 100%;
}

label{
    color: white;
    font-size: 35px;
    justify-content: center;
    display: flex;
    margin: 60px;
    font-weight: bold;
    cursor: pointer;
    transition: .5s ease-in-out;
    margin-bottom: 10px;
}

input{
    width: 60%;
    height: 20px;
    background: #fff;
    justify-content: center;
    display: flex;
    margin: 18px auto;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 50px;
}

button{
    width: 60%;
    height: 40px;
    color: #fff;
    background: rgb(43,83,194);
    font-size: 20px;
    justify-content: center;
    font-weight: bold;
    margin-top: 18px;
    display: flex;
    margin: 10px auto;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 10px;
    transition: .3s ease-in;
    cursor: pointer;
    box-shadow: 5px 20px 40px black;
}

button:hover{
    background: rgb(28,57,105);
}

.login{
    height: 460px;
    background: #eee;
    border-radius: 60% / 10%;
    transform: translateY(-180px);
    transition: .8s ease-in-out;
}

.login label{
    color: #573b8a;
    transform: scale(.6);


}


.login p{
    text-align: center;
    padding: 20px;

}

#chk:checked ~ .login {
    transform: translateY(-500px);
}

#chk:checked ~ .login label {
    transform: scale(1);
}

#chk:checked ~ .signUp label {
    transform: scale(.6);
}





